.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    width: 350px;
    height: 50px;
    font-size: 29px;
    padding: 9px;
    background-color: rgb(136,94,136);
    color: white;
    box-shadow: 10px 10px 10px rgb(111,8,120);
}

.data {
    margin-top: 20px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 370px;
    height: 60vh;
    background-color: #fad99c;
    box-shadow: 10px 10px 10px lightblue;
    overflow-y: scroll !important;
}

.count {
    display: flex;
    justify-content: right;
    font-size: 14px;
    margin-right: 10px;
    position: sticky !important;
    top: 0;
    padding: 20px;
    background-color: orange;
    opacity: 0.8
}